/* @import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap"); */

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  color: #000;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  /* font-family: var(--font-noto-serif-tc), var(--font-baskervville), serif; */
  font-optical-sizing: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/* .slick-next::before {
  content: '>';
  font-size: 30px;
  color: #000 !important;
} */

.yarl__slide_captions_container {
  background: none !important;
}
.yarl__slide_description {
  color: #000 !important;
  font-size: 12px !important;
}
.yarl__button {
  color: #000 !important;
}
.yarl__icon {
  width: 38px !important;
  height: 38spx !important;
}

.tw_font {
  /* font-family: "Noto Serif TC", serif; */
  font-family: var(--font-noto-serif-tc), serif;
  letter-spacing: 0.1rem;
}
.en_font {
  font-family: var(--font-baskervville), serif;
}
.w-400 {
  font-weight: 400;
}
.w-500 {
  font-weight: 500;
}
.w-600 {
  font-weight: 600;
}
